@media all and (min-width: 480px) {
    .selector:hover .list {
        display: block;
    }
    
    .list {
        display: none;
        position: absolute;
        width: 100%;
        background-color: #ffffff;
        border: solid;
    }

    .list > div {
        padding: 5px;
    }

    .list > div:hover {
        background-color: steelblue;
        color: #ffffff;
        cursor: pointer;
    }
}