@media all {
  .Milestone {
    border: 0.5rem solid green;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    margin: 10px 0px 10px 0px;
  }

  .labelStatus {
    background-color: rgb(6, 131, 233); 
    color: white;
    text-align: center;
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 0rem 0rem 0rem 1.5rem;
    border: 0;
    margin: 0;
  }

  .panel-heading {
    padding: 0rem 7rem 0rem 7rem;
  }

  .panel-heading > h3 {
    margin: 0rem;
    padding: 1rem;
  }

  .bodyColor {
    background: #000;
  }

  .textSpacing {
    padding: 10px 10px 0px 15px;
    text-align: center;
    color: #fff;
  }

  .headingParams {
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .headingColor {
    background: #AAA !important;
  }

  .description {
    background: #aaa !important;
    margin: 1rem 0rem 0rem 0rem;
  }
  
  .description p {
    color: black;
    margin: 0rem;
    padding:  0.5rem 2rem 0.7rem 2rem;
  }

  .textColor {
    color: #fff;
  }

  .textAlignLeft {
    text-align: left;
  }

  .textAlignRight {
    text-align: right;
  }

  .bottomSign {
    margin: 1rem 1rem 1rem 1rem;
  }

  /*.inline{
    display: inline-block;
  }*/

  .inline{
    text-align: center;
  }
}
